.wrap {
    width: 960px;
    margin: 0 auto;
}

.demo-container {
    width: 302px;
    float: left;
    margin: 10px 50px 30px 0;
    overflow-y: auto;
}

.demo-container h4 {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.clear {
    clear: both;
}

/* Drill Down Menu Styles */
.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-wrapper .dd-menu {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    /*max-height: 500px;*/

    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #c8cbcd #ffffff; /* scroll thumb and track */
}

.dd-wrapper .dd-menu::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.dd-wrapper .dd-menu::-webkit-scrollbar-track {
    background: #ffffff;        /* color of the tracking area */
}

.dd-wrapper .dd-menu::-webkit-scrollbar-thumb {
    background-color: #c8cbcd;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #ffffff;  /* creates padding around scroll thumb */
}


.dd-wrapper .dd-menu ul {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.dd-wrapper .dd-menu a {
    display: block;
}

.graphite .dd-wrapper {
    background: #F4F5F7;
    background: -webkit-linear-gradient(to right, #FFFFFF, #F4F5F7);
    background: linear-gradient(to right, #FFFFFF, #F4F5F7);
    color: #172b4d;
    border-right: 2px solid #E7EAEC;
}

.graphite .dd-menu {
    border-top: 2px solid #E7EAEC;
    border-bottom: 2px solid #E7EAEC;
    overflow-y: auto;
}

.graphite .dd-menu a {
    text-decoration: none;
    padding: 8px 5px 8px 40px;
    display: block;
    color: #172b4d;
    position: relative;
    /*border-bottom: solid #E7EAEC 1px;*/
    background-color: #F4F5F7;
}

.graphite .dd-menu a:hover {
    background: #E6E8ED;
    color: #172b4d;
}

.graphite .dd-menu li a .dd-icon {
    position: absolute;
    top: 50%;
    left: 22px;
    width: 34px;
    margin-top: -17px;
    height: 34px;
    background: url(images/arrow_white_right.png) no-repeat 0 center !important;
}

.graphite .dd-menu li.dd-parent a.dd-parent-a {
    background: #eaebed;
}

.graphite .dd-menu li.dd-parent a:hover {
    background: #d5d7dc;
}

.graphite .dd-menu li.dd-parent a.active .dd-icon {
    background: url(images/arrow_black_down.png) no-repeat 0 center !important;
}

.graphite .dd-menu li.dd-parent a.active {
    color: #fff;
    background: #111;
}

.graphite .dd-header {
    font: normal 11px;
    overflow-y: auto;
    overflow-x: hidden;
}

.graphite .dd-header ul {
    width: 100%;
    overflow: hidden;
    line-height: 1.5em;
    padding: 5px 5px;
}

.graphite .dd-header li {
    display: inline;
}

.graphite .dd-header li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 1px 15px 1px 5px;
    background: url(images/arrow_white_right.png) no-repeat 100% center !important;
    color: #000;
}

.graphite .dd-header li a:hover {
    color: #000;
    text-decoration: underline;
}

.graphite .dd-header a.link-back {
    text-decoration: none;
    display: block;
    padding: 5px 10px 0 20px;
    background: url(images/arrow_white_left.png) no-repeat 5px center;
    color: #fff !important;
}

.graphite .dd-header h3 {
    clear: both;
    padding: 5px 10px;
    margin: 0;
    font-size: 1.1em;
}

.graphite .dd-header h3 .dd-count {
    display: none;
}

/*
 * jQuery UI Menu 1.8.16
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
    background : #ffffff;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
    font-family: 'Raleway', sans-serif;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    border : solid #299DA8 1px;
    font-weight: normal;
    margin: -1px;
    background: #9198a3;
    color: white;
}

.ui-spinner-input{
    padding-right: 20px !important;
}
